@import "main";
/**/
@imgwidth: 250px;
@imgheight: 220px;
@borderThick: 4px;
@outerwidth: @imgwidth+2*@borderThick;
@outerheight: @imgheight+2*@borderThick;
article#img-content{
  background: url("../img/reaper.jpg") no-repeat;
  .img-container{
    width:1600px;
    margin:0 auto;
    .img-outer{
      height:@outerheight;
      width:@outerwidth;
      background-color: #c5c9d1;
      float: left;
      border-radius:3px;
      margin:20px;
      visibility: hidden;
      .img-wrapper{
        width:@imgwidth;
        height:@imgheight;
        margin:@borderThick auto;
        background: url("../img/18.jpg") no-repeat;
        background-size: cover;
        visibility: visible;
        .img-cover{
          display: block;
          width:@imgwidth;
          height:@imgheight;
          background: radial-gradient(@imgwidth/2 @imgheight/2, #01b9f4, #1b2631);
          opacity: 0.8;
          display: none;
          position: relative;
        }
        .img-cover:before, .img-cover:after{
          content:'';
          height:30px;
          display:block;
          position:absolute;
          top:81px; left:96px;
        }
        .img-cover:before{
          width:30px;
          border:4px #000000 solid;
          border-radius:100%;
          -webkit-border-radius:100%;
          -moz-border-radius:100%;
        }
        .img-cover:after{
          width:6px;
          background:#000000;
          transform:rotate(-45deg);
          -webkit-transform:rotate(-45deg);
          -moz-transform:rotate(-45deg);
          -o-transform:rotate(-45deg);
          -ms-transform:rotate(-45deg);
          top:107px; left:133px;
        }
      }
    }
  }
}